#white-label-info {
    clear: both;
}

.bank-block {
    float: left;
    border: 1px solid #B2B2B2;
    margin: 6px;
    padding: 10px;
    padding-top: 5px;
    min-height: 210px;
    font-size: 13px;
}

.availability {
    margin-top: 10px;
}

.bank-block a {
    padding-top: 10px;
    display: inline-block;
    text-align: center;
}