#tpay-szkwal-confirmation {
    border: 1px solid #B2B2B2;
    padding: 10px;
    background: #FFFFF0;
    max-width: 500px;
}

#tpay-szkwal-confirmation .tpay-row {
    overflow: hidden;
    margin-bottom: 10px;
}

#tpay-szkwal-confirmation .tpay-row > div {
    float: left;
    box-sizing: border-box;
}

#tpay-szkwal-confirmation .tpay-row .col-l {
    float: left;
    width: 30%;
}

#tpay-szkwal-confirmation .tpay-row .col-r {
    float: left;
    width: 70%;
}

#tpay-szkwal-confirmation .client-title {
    font-weight: bold;
}
#tpay-dac-confirmation {
    border: 1px solid #B2B2B2;
    padding: 10px;
    background: #FFFFF0;
    max-width: 500px;
}

#tpay-dac-confirmation .tpay-row {
    overflow: hidden;
    margin-bottom: 10px;
}

#tpay-dac-confirmation .tpay-row > div {
    float: left;
    box-sizing: border-box;
}

#tpay-dac-confirmation .tpay-row .col-l {
    float: left;
    width: 40%;
}

#tpay-dac-confirmation .tpay-row .col-r {
    float: left;
    width: 60%;
}
#tpay-dac-confirmation .tpay-header {
    border-bottom: 1px solid #B2B2B2;
    padding-bottom: 10px;
    font-weight: bold;
}
