.chromeframe {
    position: absolute;
    top: 0;
}

#card_payment select, input, textarea {
    color: #333;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

::-moz-selection {
    background: #fcd700;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #fcd700;
    color: #fff;
    text-shadow: none;
}

ins {
    background-color: #fcd700;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #fcd700;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

input:-moz-placeholder {
    color: #a9a9a9;
}

textarea:-moz-placeholder {
    color: #a9a9a9;
}

#powered_by {
    max-width: 25em;
    height: 3em;
    margin: 10px;
    background: url(../../View/Images/powered_by_tpay.png);
    background-size: 170px 33px;
    background-repeat: no-repeat;
    margin-bottom: 1em;
}

#card_icons {
    max-width: 27em;
    margin-top: 2em;
    text-align: center;
}

#card_icons .card_icon {
    display: inline-block;
    width: 44px;
    height: 30px;
    margin: 0 3px;
    opacity: 0.6;
    background-image: url(../../View/Images/cards.png);
    background-size: 320px;
}

#card_icons .card_icon.hover {
    opacity: 1;
}

#card_icons #visa {
    background-position: 0px center;
}

#card_icons #visaele {
    background-position: -46px center;
}

#card_icons #master {
    background-position: -91px center;
}

#card_icons #maestro {
    background-position: -139px center;
}

#card_icons #amex {
    background-position: -184px center;
}

#card_icons #diners {
    background-position: -230px center;
}

#card_icons #jcb {
    background-position: -276px center;
}

#card_payment {
    width: 25em;
    background: #3787cc;
    background: -moz-linear-gradient(top, #3787cc 0%, #3875c9 100%);
    background: -webkit-linear-gradient(top, #3787cc 0%, #3875c9 100%);
    background: -o-linear-gradient(top, #3787cc 0%, #3875c9 100%);
    background: -ms-linear-gradient(top, #3787cc 0%, #3875c9 100%);
    background: linear-gradient(to bottom, #3787cc 0%, #3875c9 100%);
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.6em;
    padding: 1em;
    box-shadow: 0px 5px 10px #a2a2a2;
    margin-bottom: 2em;
}

#card_payment label {
    color: #f6f6f6;
    font-size: 1.2em;
    margin-top: 8px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.21);
}

#card_payment_form #card_title {
    font-size: 1.4em;
    font-weight: 700;
    padding: 0.5em 0 0.5em 0;
    margin: 0;
    color: #f6f6f6;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.21);
}

#card_payment_form #expiry_date_wrapper {
    display: inline-block;
    width: 50%;
}

#card_payment_form #expiry_date #transaction_card_expiry_month {
    width: 40%;
}

#card_payment_form #expiry_date #transaction_card_expiry_year {
    width: 40%;
}

#card_payment_form #expiry_date {
    width: 60%;
}

#card_payment_form #cvc_wrapper {
    display: inline-block;
    width: 40%;
    float: right;
}

#card_payment_form input, form #card_payment select {
    box-shadow: none;
}

#card_payment_form #part_1, form #part_2 {
    display: inline-block;
    width: 47%;
}

#card_payment_form #part_1 {
    margin-right: 3%;
}

#card_payment_form input[type="text"], input[type="tel"], input[type="email"] form select {
    height: 2.8em;
    margin: 0.5em 0;
    padding: 0.5em 1em;
    width: 100%;
    border: 1px solid #b2b2b2;
    border-radius: 0.3em;
    box-shadow: 0 1px 3px #dcdcdc;
    background: #f9f9f9;
}

#card_payment_form .amPmCheckbox input[type="checkbox"] {
    display: none;
}

#card_payment_form .amPmCheckbox input[type="checkbox"] + label {
    background: url(../../View/Images/checkbox.png) no-repeat scroll left top transparent;
    height: 21px;
    width: 22px;
    padding-left: 30px;
}

#card_payment_form .amPmCheckbox input[type="checkbox"]:checked + label {
    background: url(../../View/Images/checkbox.png) no-repeat scroll left bottom transparent;
    height: 21px;
    width: 22px;
}

#card_payment_form input.wrong, form select.wrong {
    border: 2px solid #ff9696;
    box-shadow: 0 1px 3px #dcdcdc;
    background: #ffeeee;
}

#card_payment_form p {
    padding: 0.5em 0 0.2em 0;
}

#continue_btn {
    background-color: #3787cc;
    box-shadow: 0px 5px 0px 0px #3875c9;
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 22px;
    text-decoration: none;
    margin: 20px;
    color: #fff;
    position: relative;
    display: inline-block;
}

#continue_btn:hover {
    background-color: #3787cc;
}

#continue_btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

@media screen and (max-width: 760px) and (max-width: 480px) {

    #card_payment #card_payment {
        width: 100%;
    }

    #card_payment #expiry_date_wrapper {
        width: 100%;
        display: block;
    }

    #card_payment #cvc_wrapper {
        width: 50%;
        float: none;
        display: block;
    }
}

.info_button {
    background: rgba(0, 0, 0, 0.35);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.1em;
    margin-left: 0.5em;
    cursor: help;
}
